html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  scroll-behavior: smooth;
  overflow: hidden;
  background-color: transparent !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
*::selection {
  background-color: var(--q-info);
}
.selectable{
  user-select:text!important;
  -webkit-user-select: text!important;
  -moz-user-select: text!important;
}
.non-selectable {
  -webkit-user-select: none!important;
  user-select: none!important;
  -moz-user-select: none!important;
}